.Best_Selling {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 100px 20px 20px 7%;
}

.Best_Selling .month {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: rgb(210, 71, 71);
}

.Best_Selling .month .rectangle {
    width: 20px;
    height: 40px;
    background-color: rgb(210, 71, 71);
    border: none;
    border-radius: 5px;
}

.Best_Selling .best_selling_top{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
.Best_Selling .best_selling_top h1{
    color: black;
    word-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}
.Best_Selling .best_selling_top .view_product{
    margin-top: 0;
}
.Best_Selling h1 {
    color: black;
    word-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.Best_Selling .Best_Selling_item {
    display: flex;
    overflow: scroll;
    gap: 7%;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.view_product {
    display: flex;
    width: 200px;
    height: 35px;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 71, 71);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
}

hr {
    width: 87%;
    margin-top: 30px;
    border: 1px solid rgb(239, 239, 239);
    margin-bottom: 0;
}