.content{
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}
.content h3{
    align-self: flex-end;
}
.content .content_menu{
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.content .content_menu li{
    margin-bottom: 20px;
}
.content .content_menu a{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content .content_menu .content_menu_list img{
    width: 15px;
    align-self: center;
    transform: translateY(4px);
}
.content .content_menu .content_menu_list p{
    font-size: 12px;
}